html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}
#header {
    text-align: center;
    font-size: x-large
}
#etch-container {
    text-align: center;
}
#etch-grid {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    height: auto;
    width: auto;
}
.etch-row {
    display: flex;
    flex-direction: row;
}
.etch-box {
    background-color: white;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
}
@media only screen and (max-width: 480px) { 
  .etch-box {
      height: 50px;
      width: 50px;
    }
}
@media (min-width: 481px) {
  .etch-box {
    height: 100px;
    width: 100px;
  }
}
#below-etch-container {
    text-align: center;
}
#reset-button {

}